@import "tailwindcss";

:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(12.964% 0.02739 261.707);
  --card: oklch(0.99 0 0);
  --foreground: oklch(12.964% 0.02739 261.707);
  --popover: oklch(1 0 0);
  --foreground: oklch(12.964% 0.02739 261.707);
  --primary: oklch(11.439% 0.0069 261.028);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(97.144% 0.00427 237.345);
  --muted-foreground: oklch(50.213% 0.01222 261.818);
  --accent: oklch(67.223% 0.17002 246.435);
  --accent-contrast: oklch(53.645% 0.14567 248.365);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(65.317% 0.23282 25.725);
  --destructive-contrast: oklch(47.504% 0.18418 23.965);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(73.033% 0.19436 147.465);
  --success-contrast: oklch(42.033% 0.12148 148.072);
  --success-foreground: oklch(0 0 0);
  --warning: oklch(75.331% 0.17191 55.708);
  --warning-contrast: oklch(44.875% 0.12474 46.676);
  --warning-foreground: oklch(0 0 0);
  --border: oklch(79.603% 0.0011 12.655);
  --input: oklch(79.603% 0.0011 12.655);
  --ring: oklch(67.234% 0.1775 247.754);

  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Jetbrains Mono, monospace;

  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.14 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.18 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.25 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.23 0 0);
  --muted-foreground: oklch(49.893% 0.00542 258.478);
  --accent: oklch(0.32 0 0);
  --accent-contrast: oklch(0.25 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(65.317% 0.23282 25.725);
  --destructive-contrast: oklch(47.504% 0.18418 23.965);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(73.033% 0.19436 147.465);
  --success-contrast: oklch(42.033% 0.12148 148.072);
  --success-foreground: oklch(0 0 0);
  --warning: oklch(75.331% 0.17191 55.708);
  --warning-contrast: oklch(44.875% 0.12474 46.676);
  --warning-foreground: oklch(0 0 0);
  --border: oklch(0.26 0 0);
  --input: oklch(0.32 0 0);
  --ring: oklch(0.72 0 0);

  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;

  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-contrast: var(--accent-contrast);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-contrast: var(--destructive-contrast);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-contrast: var(--success-contrast);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-contrast: var(--warning-contrast);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer components {
  .typing-cursor::after {
    content: "_";
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}
