---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="grid size-full min-h-screen place-items-center">
    <h1 class="text-5xl font-semibold text-gray-900">KN-IS</h1>
  </div>
</Layout>
