---
import Card from "@/components/ui/card.astro";
import Code from "@/components/ui/code.astro";
import Description from "@/components/ui/description.astro";
import Section from "@/components/ui/section.astro";
import Subtitle from "@/components/ui/subtitle.astro";
import { homePageConfig } from "@/config/home";
---

<Section id="research-sections" variant="muted">
  <div class="space-y-4 text-center">
    <Code>
      {homePageConfig.sections.code}
    </Code>
    <Subtitle>
      {homePageConfig.sections.title}
    </Subtitle>
    <Description>
      {homePageConfig.sections.description}
    </Description>
  </div>

  <div class="grid gap-8 md:grid-cols-2">
    {homePageConfig.sections.cards.map((card) => <Card {...card} />)}
  </div>
</Section>
