---
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";

import "@styles/global.css";

import { LOCALE } from "@/i18n/config";
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>KN - IS</title>
  </head>
  <body>
    <slot />
  </body>
</html>
