---
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";

import "@styles/global.css";

import { LOCALE } from "@/i18n/config";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Studenckie Koło Informatyki Stosowanej - UJ</title>
  </head>
  <body class="bg-background text-foreground min-h-screen font-sans">
    <Header />
    <main class="mx-auto min-h-svh">
      <slot />
    </main>
    <Footer />
  </body>
</html>
