---
import type { JSX } from "astro/jsx-runtime";

interface Props extends JSX.AnchorHTMLAttributes {
  size?: "xs" | "sm" | "md" | "lg" | "icon";
  variant?: "default" | "ghost" | "outline" | "subtle" | "nav" | "plain";
}

const {
  class: className,
  size = "md",
  variant = "default",
  ...rest
} = Astro.props;
---

<a
  class:list={[
    `focus-visible:border-ring focus-visible:ring-ring inline-flex shrink-0 cursor-pointer items-center justify-center gap-2 rounded-full text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4`,
    variant === "default" &&
      "bg-primary text-primary-foreground hover:bg-primary/80",
    variant === "ghost" && "text-foreground hover:bg-muted/80 bg-transparent",
    variant === "outline" &&
      "border-border text-foreground hover:bg-muted/80 border",
    variant === "nav" &&
      "text-muted-foreground hover:bg-muted hover:text-foreground bg-transparent",
    variant === "subtle" &&
      "bg-accent/5 text-accent-contrast border-accent-contrast/40 hover:bg-accent/15 border",
    variant === "plain" &&
      "text-foreground bg-transparent font-normal hover:underline",

    size === "icon" && "size-9",
    size === "xs" && "h-6 gap-1 px-0.5 has-[>svg]:px-0",
    size === "sm" && "h-8 gap-1.5 px-3 has-[>svg]:px-2.5",
    size === "md" && "h-9 px-4 py-2 has-[>svg]:px-3",
    size === "lg" && "h-10 px-6 has-[>svg]:px-4",
    className,
  ]}
  {...rest}
>
  <slot />
</a>
