---
import type { JSX } from "astro/jsx-runtime";

interface Props extends JSX.AnchorHTMLAttributes {
  size?: "sm" | "md" | "lg" | "icon";
  variant?: "default" | "ghost" | "outline";
}

const {
  class: className,
  size = "md",
  variant = "default",
  ...rest
} = Astro.props;
---

<a
  data-variant={variant}
  class:list={[
    `focus-visible:border-ring focus-visible:ring-ring/50 inline-flex shrink-0 cursor-pointer items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4`,
    variant === "default" &&
      "bg-primary text-primary-foreground hover:bg-primary/80",
    variant === "ghost" &&
      "text-foreground hover:bg-accent hover:text-foreground/80 bg-transparent",
    variant === "outline" &&
      "border-border text-foreground hover:bg-accent hover:text-foreground/80 border",
    size === "icon" && "size-9",
    size === "sm" && "h-8 gap-1.5 rounded-md px-3 has-[>svg]:px-2.5",
    size === "md" && "h-9 px-4 py-2 has-[>svg]:px-3",
    size === "lg" && "h-10 rounded-md px-6 has-[>svg]:px-4",
    className,
  ]}
  {...rest}
>
  <slot />
</a>
