---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-2 text-2xl font-semibold">
  <Icon
    name="lucide:terminal"
    size={32}
    class="bg-accent text-accent-foreground rounded-sm p-1"
  />
  <span>SKIS UJ</span>
</div>
